*{
    font-family: sans-serif;
}

/** Nav Bar */

.navbar-brand{
    font-size: 32px;
    font-weight: 200;
    font-family: 'Work sans'
}

.navbar-brand span{
    font-style: bold;
    font-size: larger;
    font-weight: 400;
}

/** Main Page */

.linkedInText{
    text-decoration: none;
    color: white;
}




/** media version */

@media (min-width: 768px){
    .news-input {
        width: 50%;
    }
}